__pycache__/
*.pyc
*.pyo

# Credenciales Google
config/google_client_secret.json
config/google_token.json
config/google_drive_token.json
config/google_drive_token_backup.json
config/google_token_backup.json

# Archivos generados
media/adjuntos/

# Entorno virtual
.venv/

# VS Code
.vscode/