{% extends "base_login.html" %}

{% block title %}
SGDEA - Inicio de sesión
{% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center py-7 px-4 flex-grow-1 flex-lg-row">

    <form method="post"
          class="login rounded-5">

        {% csrf_token %}

        <div class="vstack justify-content-center align-self-stretch">

            <p id="header-login"
               class="text-center text-neutral-30 mb-9">

                Sistema de Gestión Documental Electrónico de Archivo

                <br>

                <strong>SGDEA</strong>

            </p>

            {% if form.non_field_errors %}

                <div class="alert alert-danger">

                    {{ form.non_field_errors }}

                </div>

            {% endif %}

            <div class="vstack gap-5">

                <div class="vstack gap-3">

                    <div>

                        <label class="form-label required">

                            Usuario

                        </label>

                        <div class="input-group">

                            <span class="input-group-text start material-symbols-outlined">

                                person

                            </span>

                            {{ form.username }}

                        </div>

                    </div>

                    <div>

                        <label class="form-label required">

                            Contraseña

                        </label>

                        <div class="input-group">

                            <span class="input-group-text start material-symbols-outlined">

                                lock

                            </span>

                            {{ form.password }}

                        </div>

                    </div>

                </div>

                <hr class="hr bg-neutral-80">

                <div class="form-check">

                    <input class="form-check-input"
                           type="checkbox"
                           required>

                    <label class="form-check-label">

                        He leído y acepto la

                        <a href="https://unal.edu.co/proteccion-de-datos-personales"
                           target="_blank">

                            Política de Tratamiento de Datos Personales

                        </a>

                    </label>

                </div>

                <button class="btn btn-primary w-100">

                    Iniciar sesión

                </button>

            </div>

        </div>

    </form>

</div>

{% endblock %}