<!doctype html>
<html lang="es" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Página de Inicio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="https://gestionapp.medellin.unal.edu.co/cdn/assets/favicon.ico">
    <link rel="stylesheet" href="https://gestionapp.unal.edu.co/cdn/kitUnal/12112024/css/kitUnal.min.css">
    <link rel="stylesheet" href="https://gestionapp.unal.edu.co/cdn/kitUnal/12112024/css/themes/main.min.css">
    <script src="https://gestionapp.unal.edu.co/cdn/kitUnal/12112024/js/kitUnal.bundle.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>

<body class="body d-flex flex-column min-vh-100" style="overflow-x: hidden;">
    {% include 'includes/header.html' %}

    <main class="body flex-grow-1 overflow-auto">
        {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% block extra_scripts %}{% endblock %}
</body>

<style>
    section {
        scroll-snap-align: start;
        min-height: 100vh;
    }
</style>

</html>