<footer class="bg-opacity-100">
        <p class="copyright">© Copyright [año] - Algunos Derechos Reservados</p>
        <div class="info-help">
            <p class="dependency">[Nombre de la dependencia responsable]</p>
            <div class="vr"></div>
            <a class="help-link" href="https://gestionservicios.unal.edu.co/asmscustomer/index.html#/" target="_blank">
                <span class="material-symbols-outlined icon" translate='no'>contact_support</span>
                <span class="text-decoration-underline">¿Necesitas ayuda?</span>
            </a>
        </div>
        <div class="more-info">
            <p>Versión [fecha]</p>
            <div class="vr"></div>
            <p><a class="link-neutral-100" href="https://unal.edu.co/proteccion-de-datos-personales"
                    target="_blank">Tratamiento de Datos Personales</a></p>
        </div>
    </footer>