<header class="m-0">
    <div class="section-icon">
        <div class="banner-container">
            <a href="https://unal.edu.co/" target="_blank" rel="noopener" class="icon-link">
                <img src="https://gestionapp.medellin.unal.edu.co/cdn/assets/images/logo_unal_circle.png" alt="Escudo de UNAL">
            </a>
        </div>
    </div>

    <div id="divider-top"></div>

    <div id="section-menu-middle">
        <div class="padded-container">
            <p id="name-aplication">[Nombre de la aplicación]</p>
           
        </div>
    </div>
</header>


